.tool-bar {
    display: grid;
    padding: 0 20px;
    margin-bottom: 20px;
    align-items: center;
    grid-template-columns: 120px 1fr 300px;
    gap: 50px;
}

.tool-bar__add-song {
    padding: 10px 15px;
    border-radius: 10px;
}

.tool-bar .input {
    background-color: var(--third-background-color);
    color: var(--main-font-color);
    font-size: var(--normal-font-size);
}

.snack-bar {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 20px;
}

.snack-bar .alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    animation: slideInFadeOut 3s ease forwards;
    opacity: 0;
    border-radius: 20px;
    width: auto;
    padding: 10px 50px;
}

.alert--success {
    background-color: #007e41;
}

.alert--failed {
    background-color: #810202;
}

@keyframes slideInFadeOut {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    20% {
        opacity: 1;
        transform: translateX(0);
    }
    80% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100px);
    }
}
